* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #262a2f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: white;
  height: 42vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
}
.container p {
  margin: 0.5rem;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
}
.container input {
  width: 92%;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  font-size: 1.3rem;
  border: 0.1rem solid #494eea;
  border-radius: 0.5rem;
}
.container button {
  width: 60%;
  margin: 1rem 1rem;
  padding: 0.5rem;
  font-size: 1.3rem;
  background-color: #494eea;
  cursor: pointer;
  border-radius: 0.5rem;
  color: white;
  border: none;
}
.noimg {
  display: none;
}
.showimg {
  margin: 0.1rem;
}
.error {
  animation: shake 0.1s linear 10;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-0.1rem);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(0.1rem);
  }
  100% {
    transform: translateX(0);
  }
}
